html{
    scroll-behavior: smooth; /*Para que no haga scroll brusco*/
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

/* NAVBAR */
.navbar{
    background: linear-gradient(to right, black 40%, rgb(90, 4, 90) 100%);
}

.navbar-brand h1{
    color: white;
    font-size: 30px;
}

.navbar-brand h1::first-letter{
    color: rgb(90, 4, 90) ;
    font-size: 40px;
}

.navbar .nav-link.active{
    color: white;
}

