* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

/* Navbar */
.navbar-brand{
    font-size: 1.5rem;
    font-weight: 700;
}

.collapse {
    margin-right: 20px;
    justify-content: flex-end;
}

.navbar-nav a {
    padding-bottom: 4px;
    text-align: center;
}

/* MAIN */
/* CARD */

#card {
    min-height: 420px;
    position: relative;
    overflow: hidden;
}

.card-img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

.card-img-overlay {
    margin: 0;
    padding: 2.5rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.card-img-overlay h4 {
    font-size: 4rem;
    font-weight: 500;
}

.card-img-overlay .btn {
    align-self: center;
    border: 1px solid #fff;
}

/* FIN CARD */

/* TARGETAS */
.row{
    margin-top: 25px;
}

.row h2{
    font-weight: bold;
}

.col-12 .card {
    background-color: #fff;
}

.texto{
    padding: 0 0 20px 20px;
}

.row h5{
    font-weight: bold;
}
/* FIN TARGETA */

/* FOOTER */
footer {
    box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.89);
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.icon, .port {
    margin-right: 5%;
    margin-top: 1%;
}

.port ul {
    list-style: none;
    padding-left: 0; 
    margin: 0;
}

.port ul li {
    margin-bottom: 0.5rem;
}

.redes {
    display: flex;
    gap: 1.2rem;
}

.redes li {
    font-size: 1.4rem;
}

@media (min-width: 540px) {
    /*Navbar*/
    .container-fluid {
        flex-direction: row !important;
        justify-content: space-between;
    }

    .navbar-nav {
        flex-direction: row !important;
    }

    .navbar-brand {
        margin-left: 15px;
    }

    .container {
        flex-direction: row !important;
        justify-content: space-between;
    }

    footer .container {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
}

@media (max-width: 1200px) {

    #card {
        min-height: 480px; 
    }
}

@media (max-width: 768px) {

    .card-img-overlay h4 {
        font-size: 3rem;
    }

    #card {
        min-height: 520px;
    }
}